*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background: #f7f4d5;
}

nav{
    background:#222;
    color:#839958;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:#D3968C;
}

.container{
    padding:30px;
}

.search-box{
    width:100%;
    padding:12px;
    margin:20px 0;
}

.books{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background: #d3968c;;
    border-radius:10px;
    padding:15px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:8px;
    margin-bottom:10px;
}

.card h3{
    margin-bottom:10px;
}